@page
@model Watermark.Pages.Admin.Catalog.ProductsOverviewModel
@{ 
    ViewData["Title"] = "Products";
    ViewData["Header"] = "Product Management";
    ViewData["Tagline"] = "Manage all products across the platform.";
}

@section Styles 
{
    <link href="@Url.Content("~/pages/products/page.css")" rel="stylesheet" type="text/css" />
}

<!-- Search & Filter -->
<div class="row">

    <div class="col col-md-1">
        <div class="card">
            <a href="~/Admin/Catalog/Products/New" class="form-control btn">+</a>
        </div>
    </div>

    <div class="col col-md-11">
        <div class="form-group card">
            <div class="row">
                <div class="col-md-7">
                    <input class="form-control" type="text" />
                </div>

                <div class="col-md-5">
                    <select class="form-control">
                        <option value="10">10</option>
                        <option selected value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /Search & Filter -->


<!-- Top Nav -->
<div class="row">

    <div class="col col-md-12" style="margin-top: -15px;">
        <div class="card">
            <div class="row justify-content-md-center">

                <div class="col-md-1 col-offset-4">
                    <button class="btn btn-primary form-control" type="button"><<</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button"><</button>
                </div>

                <div class="col-md-1 col-offset-1">
                    <button class="btn btn-primary form-control" disabled type="button">0</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button">1</button>
                </div>

                <div class="col-md-1 col-offset-1">
                    <button class="btn btn-primary form-control" type="button">2</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button">></button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button">>></button>
                </div>

            </div>
        </div>

    </div>

</div>
<!-- /Top Nav -->


<!-- Product Listing -->
<div class="row">
    <div class="col col-md-12" style="margin-top: -15px;">
        <div class="card">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Name</td>
                        <td>Name</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.ProductName.DisplayName</td>
                            <td>@product.ProductName.DisplayName</td>
                            <td>@product.ProductName.DisplayName</td>
                            <td>@product.ProductName.DisplayName</td>
                            <td>@product.ProductName.DisplayName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /Product Listing -->


<!-- Bottom Nav -->
<div class="row">

    <div class="col col-md-12" style="margin-top: -15px;">
        <div class="card">
            <div class="row justify-content-md-center">

                <div class="col-md-1 col-offset-4">
                    <button class="btn btn-primary form-control" type="button"><<</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button"><</button>
                </div>

                <div class="col-md-1 col-offset-1">
                    <button class="btn btn-primary form-control" disabled type="button">0</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button">1</button>
                </div>

                <div class="col-md-1 col-offset-1">
                    <button class="btn btn-primary form-control" type="button">2</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button">></button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary form-control" type="button">>></button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- /Bottom Nav -->

@section Scripts
{

}